#easy-archives {
	margin-top: 2.5rem;
	text-align: left;
	color: black;
	.ea-open {
		padding: 0;
	}
	a {
		color: #ff5a5a;
		&:hover {
	  	color: #89f6f6;
	  }	 
	}
	.ea-title a {
		color: #898989;
		font-size: 1.5rem;
	}
	#ea-filter {
		margin-bottom: 1rem;
	}
  .ea-month {
    font-size: 1.5rem;
  }
}

.archive-content {
	text-align: center;
  h2, p {
  	font-family: Georgia, Times, serif;
  	font-size: 2rem;
  	text-align: center;
    font-weight: normal;
  	font-style: italic;
  	margin-bottom: 12px;
  }
  h2:nth-of-type(1), 
  h2:nth-of-type(7) {
  	color: #b000d0;
  }
  h2:nth-of-type(2), 
  h2:nth-of-type(8) {
  	color: #18ce00;
  }
  p:nth-of-type(1), 
  h2:nth-of-type(3), 
  h2:nth-of-type(9) {
  	color: #ff9c00;
  }
  p:nth-of-type(2), 
  h2:nth-of-type(4), 
  h2:nth-of-type(10) {
  	color: #2888ff;
  }
  p:nth-of-type(3), 
  h2:nth-of-type(5), 
  h2:nth-of-type(11) {
  	color: #ff5a5a;
  }
  h2:nth-of-type(6), 
  h2:nth-of-type(12) {
  	color: #ff5f9f;
  }

  time, .inline, article ul li {
  	color: #898989;
  	font-size: 1.5rem;
  	text-align: center;
  }
  p {
    font-size: 1.5rem;
  }
  .pagination, .tw-pagination {
	font-size: 1rem;
	margin: 0 auto !important;
	margin-top: 40px !important;

 }
}

