.main-content {
  h2, p {
  	font-family: Georgia, Times, serif;
  	font-size: 2rem;
    font-weight: normal;
  	font-style: italic;
  	margin-bottom: 12px;
  }
  h2:nth-of-type(1), 
  h2:nth-of-type(7) {
  	color: #b000d0;
  }
  h2:nth-of-type(2), 
  h2:nth-of-type(8) {
  	color: #18ce00;
  }
  p:nth-of-type(1), 
  h2:nth-of-type(3), 
  h2:nth-of-type(9) {
  	color: #ff9c00;
  }
  p:nth-of-type(2), 
  h2:nth-of-type(4), 
  h2:nth-of-type(10) {
  	color: #2888ff;
  }
  p:nth-of-type(3), 
  h2:nth-of-type(5), 
  h2:nth-of-type(11) {
  	color: #ff5a5a;
  }
  h2:nth-of-type(6), 
  h2:nth-of-type(12) {
  	color: #ff5f9f;
  }

  time, .inline, article ul li {
  	color: #898989;
  	font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

time, .inline {

}

.pagination {
	font-size: 1rem;
	margin-top: 40px;
	a {
  color: #898989;
  margin-left: 20px;
  &:hover {
  	color: #89f6f6;
  }	  
	}
 }

 

form {
  font-size: 2rem !important;
  color: #898989;
  text-align: left;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  label {
    line-height: 1.3rem;
    font-size: 1.5rem;	
  }
  ul {
    padding-left: 0px;
  }
  li {
    padding-left: 0px;
    padding-right: 0px;
  }
  ul.wpuf-form li {
    margin: 0px;
    padding: 0px;
  }
  .input input {
  	font-family: Georgia, Times, serif;
  	font-style: italic;
    font-size: 1.5rem;
  	width: 100%;
  	margin: 10px 0px 10px;
  	border: 2px solid #89f6f6 !important;
  	border-radius: 4px;
  }
  .wpuf-submit input {
  	color: white !important;
  	font-family: impactregular, impact, helvetica, sans-serif;
  	font-style: normal !important;
    font-size: 2rem !important;
    background: #89f6f6 !important;
    width: 100% !important;
    border: none !important;
    &:hover {
  	  background: #89f6f6 !important;
  	  color: #898989 !important;
    }
  }
  .wpuf-fields, .wpuf-label {
    width: 100% !important;
    float: none;
    display: block;
  }
}
.contact div{
}
.contact form input, .contact form textarea {
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-size: 1.5rem;
    width: 100%;
    margin: 10px 0px 10px;
    background: #fafafa;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #89f6f6 !important;
    border-radius: 4px;
}
.contact [type=submit] {
  color: white !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  font-family: impactregular, impact, helvetica, sans-serif;
  font-style: normal !important;
  font-size: 2rem !important;
  background: #89f6f6 !important;
  width: 100% !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
  border: none !important;
  &:hover {
    background: #89f6f6 !important;
    color: #898989 !important;
  }
}

  /* archive expand collapse buttons*/

#ea-expand-all, #ea-collapse-all {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  color: #666666;
  margin-right: 4px;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background: #d7d7d7;
    color: #888888;
  }
}
