.about {
  p {
	font-style: normal;
	color: black;
	font-size: 1.5rem
  }
  h2 {
  	font-family: Georgia;
  	color: #ff5a5a;
  	font-size: 2rem;
  	margin-top: 2.5rem;
  	font-weight: normal;
  	font-style: italic;
  }
  strong {
  	font-weight: bold;
  }
}